<footer class="footer">
  <div class="container" style="display:flex; justify-content:space-between; align-items:center; gap:24px;">
    <div>The Memories</div>
    <div class="links">
      <a href="/">Home</a>
      <a href="/aboutme">About</a>
      <a href="/portfolio">Portfolio</a>
      <div>
      <a class="figure-chip" href="https://inky3.github.io/the.gallery">Coding by The.Gallery</a>
      </div>
    </div>
  </div>
</footer>
